body {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0.0001);
}

.page{
 display: flex;
 flex-direction: column;
 width: 1280px;
 margin-top: 63px;
}

.header {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.heading {
  display: flex;
  align-items: flex-end;
  height: 79px;
  padding-bottom:38px;
}


.heading-text {
  font-size: 80px;
  line-height:93.75px;
}
.heading-text span:nth-child(1) {
  color:#000000;
}
.heading-text span:nth-child(2) {
  color:rgba(75, 202, 255, 1);
  font-family: 'Myriad Pro', sans-serif;
}
 a {
  text-decoration: none;
 }

.top-menu {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 72px;
  background-color:#35444F;
  border: 1px solid transparent;

}
.top-menu-list {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  line-height: 28.13px;
  font-size: 24px;
  color: #FFFFFF;
}
.top-menu-list-item {
  display: flex;
  align-items: center;
  height: 100%;
  border-left: 1px solid #FFFFFF;;
} 

.top-menu-list-item:first-child {
  padding-left: 32px;
  padding-right: 33px;
}

.top-menu-list-item:nth-child(2) {
  padding-left: 36px;
  padding-right: 37px;
}
.top-menu-list-item:nth-child(3) {
  padding-left: 40px;
  padding-right: 40px;
}

.top-menu-list-item:last-child {
  padding-left: 40px;
  padding-right: 18px;
  border-right: 1px solid #FFFFFF;
}

.top-menu-list-item:hover {
cursor: pointer;
background-color: #222F3A;
}

main {
  display: flex;
  justify-content: space-between;
  margin-top: 48px;

}

.left-menu {
  display: flex; 
  justify-content: space-between;
  height: 399px;
  font-size: 27px;
  color: #485863;
  

}

.left-menu-list {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 344px;
  border: 1px solid black;
}

.left-menu-list-item {
  height: 79px;
  line-height: 79px;
  padding-left: 44px;
}

.left-menu-list-item:hover {
  cursor: pointer;
  font-family: 'MyriadPro', sans-serif;
  font-size: 27px;
  padding-left: 82px;
  color: #000000;
  background-color: #DBDBDB;
  }

.main-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  width: 885px;
  height: 832px;
}

.img-container {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 529px;
  border: 1px solid black;
}

.img {
  width: 320px;
  height: 381px;
}

.img:hover {
  transform: scale(1.2);
  transition: transform 0.5s;
  cursor: pointer;
}
.main-text {
  font-size: 18px;
  line-height: 24px;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 69px;
  margin-top: 51px;
  margin-bottom: 30px;
  background-color: rgba(99, 105, 110, 0.48);
}

.bottom-menu {
  display: flex;
  box-sizing: border-box;
  font-size: 28px;
  line-height: 28px;
  color: #0C1927;
  
}

.bottom-menu-list{
  display: flex;
  justify-content: space-between;
  width: 875px;
}

.bottom-menu-list-item {
   padding-bottom: 13px;
   padding-top: 13px;

}

.bottom-menu-list-item:hover {
  cursor: pointer;
  font-family: 'MyriadPro', sans-serif;
  color: #3181A6;
  border-bottom: 1px solid #3181A6;
  padding-bottom: 12px;
}
.copiright {
  font-size: 24px;
  height: 69px;
  line-height: 69px;
  color: #010101;
  border: 1px solid transparent;
}